//removes space around pages
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

//font imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');  //"Roboto Slab", serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); //"Noto Sans", sans-serif;


//variables
$main-bg: #ECE3D3;
$panel-bg: #BFA886;
$panel-sec: #DDC8A0;
$main-fontcolor: #5C5243;
$sec-fontcolor: #F0E4D2;

$header-bg: #9F9E89;
$link-bg: #B8BCA2;
$link-bg-hover: #C5CAAD;
$link-bg-pressed: #A7AA95;

$title-font: "Roboto Slab", serif;
$para-font: "Noto Sans", sans-serif;


//body styling
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: $main-bg;
}

//header styling
header {
    display: flex;
    flex-direction: column;
    background-color: $header-bg;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    img {
        width: 15vw;
        margin: 40px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        a {
            background-color: $link-bg;
            width: 80%;
            margin: 2vh 0;
            padding: 1.7vh 0;
            border-radius: 10px;
            box-shadow: 0px 5px 10px -5px black;
            text-align: center;
            text-decoration: none;
            color: black;
            font-family: $para-font;
            font-size: 24px;
            font-weight: bold;

            &:hover {
                background-color: $link-bg-hover;
            }
        }
    }
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        width: 95%;
        margin-left: 5%;
    }

    .main{
        width: 90%;

        #rep_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .report_section{
            background-color: $panel-bg;
            height: 400px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 0px 5px 10px -5px black;
        }

        .reports{
            color: null;
        }
    }
}


#home_main {
    width: 90%;

    h1 {
        text-align: center;
        font-size: 48px;
    }
    
    #home_buttons{
        display: flex;
        justify-content: space-around;
        width: 100%;
    
        section{
            background-color: $panel-bg;
            height: 45vh;
            width: 20vw;
            border-radius: 10px;
            box-shadow: 0px 5px 10px -5px black;
        }
    }
}

#dash_main{
    width: 90%;

    h1 {
        text-align: center;
        font-size: 48px;
    }

    #top_dash {
        display: flex;
        justify-content: space-around;
        margin: 5vh 0;

        section {
            background-color: $panel-bg;
            width: 15vw;
            height: 30vh;
            border-radius: 10px;
            box-shadow: 0px 5px 10px -5px black;
        }
    }
    #bottom_dash {
        display: flex;
        justify-content: space-around;

        section {
            background-color: $panel-bg;
            border-radius: 10px;
            box-shadow: 0px 5px 10px -5px black;
            height: 30vh;
        }

        #graph_sect {
            width: 51vw;
        }

        #device_sect {
            width: 15vw;
        }
    }
}
