<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Leafy Logic
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../SCSS/global.css">
</head>
<body>
    <header>
        <img>
        <nav>
            <a href="">Home</a>
            <a href="">Dashboard</a>
            <a href="">Reports</a>
        </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
</body>
</html>