{% extends "base.html" %} {% block title %} Leafy Logic - Dashboard {% endblock %}
{% block content %}
<p>Latest Reading at xx/xx/xxxx - xx:xx:xx</p>

<section id="dash_main">
    <h1>Dashboard</h1>
    <section id="top_dash">
        <section>
            {{human_name.1}}
        </section>
        <section>
            
        </section>
        <section>
            
        </section>
        <section>
            
        </section>
    </section>
    <section id="bottom_dash">
        <section id="graph_sect">
        
        </section>
        <section id="device_sect">
            
        </section>
    </section>
    
</section>
{% endblock %}