{% extends "base.html" %} {% block title %} Leafy Logic - Dashboard {% endblock %}
{% block content %}
<p>Latest Reading at xx/xx/xxxx - xx:xx:xx</p>

<section id="dash_main">
    <h1>Dashboard</h1>
    <section id="top_dash">
        {% for name, value in latest_values.items %}
            <section class="" >
                <h3>{{ name }}</h3>
                <p>{{ value }}</p>
            </section>
        {% endfor %}
    </section>
    <section id="bottom_dash">
        <section id="graph_sect">
        
        </section>
    </section>
    
</section>
{% endblock %}