{% extends "base.html" %} {% block title %} Leafy Logic - Dashboard {% endblock %}
{% block content %}
<p>Latest Reading at xx/xx/xxxx - xx:xx:xx</p>

<script>
    const deviceJsonData = JSON.parse('{{ json|safe }}');
    console.log(deviceJsonData)
</script>

<section id="dash_main">
    <h1>Dashboard</h1>
    <section id="top_dash">
        {% for data_point in latest_values %}
            <section class="data-panel">
                <h3 class="h3-dash">{{ data_point.name }}</h3>
                <p class="p-sect-dash">{{ data_point.value }} {{ data_point.unit }}</p>
            </section>
        {% endfor %}
    </section>
    <section id="bottom_dash">
        <section id="graph_sect">
            <canvas id="graph-canvas"></canvas>
        </section>
    </section>  
</section>
{% endblock %}