{% extends "base.html" %} {% block title %} Leafy Logic - Home {% endblock %}
{% block content %}
<p>Latest Reading at xx/xx/xxxx - xx:xx:xx</p>

<section id="home_main">
    <h1>Devices</h1>
 
    <section id="home_buttons">
        {% for device in unique_devices %}
            <section class="device1">
                <h2>{{device.name}}</h2>
                <h3>The Field</h3>
                <a href="{% url 'dashboard' device_id=device.device_id %}">Dashboard</a>
            </section>
        {% endfor %}
    </section>
</section>
{% endblock %}
