{% extends "base.html" %} {% block title %} Leafy Logic - Reports {% endblock %}
{% block content %}
<p>Latest Reading at xx/xx/xxxx - xx:xx:xx</p>
<section class="main">
    <section id="rep_header">
        <h1>Reports</h1>
        <h3>Search-bar</h3>
    </section>
    <section class="report_section">
        {%comment%}
        {% for report in reports %}
        <div class="report">
            <p>{{}}</p>
            <button onclick="toggleDisplay()">icon</button>
            <div class="report_dropdown">
                edheduihedie
            </div>
        </div>
        {%endfor%}
        <script>
            function toggleDisplay() {
                var currentStyle = document.getElementById('report_dropdown').style.display;
                var newStyle = currentStyle === 'none' ? 'block' : 'none';
                document.getElementById('report_dropdown').style.display = newStyle;
            }
        </script>
        {%endcomment%}
        {% for datapoint in datapoints %}
            <a class={{ datapoint.human_name }}>
                {{ datapoint.human_name }} - {{ datapoint.gate_way_receive_time }}<br><br>
            </a>
        {% endfor %}
        {% for device in devices  %}
            <a class={{device.name}}>
                {{device.name}} - {{device.last_seen}}<br><br>
            </a>
        {% endfor %}
    </section>
</section>
{% endblock %}