{% extends "base.html" %} {% block title %} Leafy Logic - Reports {% endblock %}
{% block content %}
<p>Latest Reading at xx/xx/xxxx - xx:xx:xx</p>
<section class="main">
    <section id="rep_header">
        <h1>Reports</h1>
        <h3>Search-bar</h3>
    </section>
    <section class="report_section">
        {% for device in devices  %}
            <a class="{{device_name}} device_name">
                {{device.name}} - {{datapoint.gate_way_receive_time}}
            </a>
        {% endfor %}
    </section>
</section>
{% endblock %}